<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script th:src="@{bower_components/jquery/dist/jquery.min.js}"></script>
</head>
<body>
<p th:text="'Hello, ' + ${name} + '!'" />

<p>List of orders:</p>

<ul class="orders" th:each="o: ${orders}">
    <li th:text="${o.number}"></li>
    <li th:text="${o.date}"></li>
    <li>
        <ul th:each="od: ${o.details}">
            <li th:text="'#'+${od.lineNumber} +' - '+ ${od.product.code}+' - '+${od.quantity}+' - '+${od.price}"></li>
        </ul>
    </li>
</ul>

-- Filtered

<ul class="orders" th:each="o: ${order}">
    <li th:text="${o.number}"></li>
    <li th:text="${o.date}"></li>
</ul>

</body>
</html>