<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script th:src="@{bower_components/jquery/dist/jquery.min.js}"></script>
</head>
<body>
<p th:text="'Hello, ' + ${name} + '!'" />

<p>List of cities:</p>

<ul class="cities" th:each="city: ${cities}">
   <li th:text="${city.name}"></li>
</ul>

-- Filtered

<ul class="cities" th:each="city: ${filteredCities}">
    <li th:text="${city.name}"></li>
</ul>

</body>
</html>